:root {
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --extraBold: 800;
  --black: 900;
}

/* Gotham : https://github.com/SergioFloresG/gotham-fonts */
@font-face {
  font-family: "Gotham";
  src: url("../webfonts/en/Gotham-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--black);
}

@font-face {
  font-family: "Gotham";
  src: url("../webfonts/en/Gotham-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--bold);
}

@font-face {
  font-family: "Gotham";
  src: url("../webfonts/en/Gotham-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--medium);
}

@font-face {
  font-family: "Gotham";
  src: url("../webfonts/en/Gotham-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--light);
}

/* Spoqa Han Sans Neo : https://github.com/spoqa/spoqa-han-sans*/
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../webfonts/kr/SpoqaHanSansNeo-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--bold);
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../webfonts/kr/SpoqaHanSansNeo-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--medium);
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../webfonts/kr/SpoqaHanSansNeo-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--regular);
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../webfonts/kr/SpoqaHanSansNeo-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: var(--light);
}